kivy
pyperclip
csvkit
jupyter==1.0
pandas==0.20.2
pandasql
pyspark
seaborn==0.7.1
matplotlib==2.0.0
missingno
bokeh
bleach==1.5.0
scikit-learn==0.18.1
numpy==1.13.3
tensorflow==1.8.0
keras==2.0.4
xgboost
lime
requests
tabulate
colorama
future
h2o
statsmodels
tpot==0.9.3
flask

